version: '3.7'
services:
  prometheus:
    image: prom/prometheus:v2.26.0
    user: root
    volumes:
      - {{API_CONFIGURATION_PATH}}/{{role_name}}/config/:/etc/prometheus/
      - {{API_CONFIGURATION_PATH}}/{{role_name}}/rules/:/etc/prometheus/rules
      - {{DATA_DIR}}/{{role_name}}/data:/prometheus
      - /etc/hosts:/etc/hosts
      - /etc/localtime:/etc/localtime:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.retention.size=100GB'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    network_mode: host
    container_name: prometheus
    restart: always
    ulimits:
      nofile:
        soft: "655360"
        hard: "655360"
      nproc:
        soft: "65536"
        hard: "65536"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"